.logo {
  width: 87px;
}

.actions {
  display: inline-block;
}

.action {
  display: inline-block;
  padding: 15px 13px;
  color: #383838;
  font-size: 13px;
  font-weight: 400;
}

.action:hover {
  background: #e0e0e0;
  text-decoration: none;
  color: inherit;
}
