.app {
  height: 100vh;
}

main {
  height: calc(100vh - 54px);
}

/* Split pane */
.Resizer {
  background: #000;
  opacity: .2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}

/* Split pane custom */

/* Pane2 is the result pane */
.Pane2 {
  background-color: rgb(255, 255, 250);
  padding: 0 15px;
  display: flex;
}
.Pane {
  overflow-y: scroll;
}
.SplitPane {
  /* Prevent overflowing beyond the view height */
  /* !important necessary to override the inline css imposed by the library */
  height: calc(100vh - 54px) !important;
}

/* override bs */
.navbar {
  padding: 0;
}

/* treeview */
/* the tree node's style */
.tree-view {
  overflow-y: hidden;
}

.tree-view_item {
  /* immediate child of .tree-view, for styling convenience */
}

/* style for the children nodes container */
.tree-view_children {
  margin-left: 16px;
}

.tree-view_children-collapsed {
  height: 0px;
}

.tree-view_arrow {
  cursor: pointer;
  margin-right: 6px;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tree-view_arrow:after {
  content: '▾';
}

/* rotate the triangle to close it */
.tree-view_arrow-collapsed {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

/* custom */

.tree-view_item {
  display: inline-block;
  color: #3F51B5;
  font-weight: 500;
  vertical-align: top;
}
.tree-view_item:not(.has-tree-child) .tree-view_arrow {
  visibility: hidden;
}

.tree-view:not(.has-tree-child) {
  display: flex;
}
.tree-view:not(.has-tree-child) .tree-view_children {
  flex: 1;
}

.tree-view_item.has-tree-child {
  display: block;
}
.tree-view_children {
  display: inline-block;
  margin-left: 19px;
}
.tree-view_children-collapsed {
  display: none;
}
.nodetype-number {
  color: #ff6c6c;
}
.nodetype-string {
  color: #009688;
}
